<div class="jumbotron">
    <h1>TestRESTWebAPI</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
   <a href="Home/ListItems"><h3>List Items</h3></a>
   <p>To view the items in the DB, click the link above.</p>

    <a href="Help"><h3>API Reference</h3></a>
    <p>To view the available methods, click on the link above.</p>

   <p>To test this WebAPI, you can use the POSTMan application for Chrome</p>
</div>
